<footer>
	<div>
		<a href="#">Impressum</a>
		<a href="mailto:ftleven@gmx.de"><img src="{{ path('impressum') }}" width="25" height="15" alt="Kontakt per Email"></a>
		&reg; 2015 Frank-Thomas Leven
	</div>
</footer>