<h1 id="mainHeader">Motivation</h1>

<div>
	<ul>
		<li class="marked">Was macht guten Quellcode aus?</li>
		<li class="marked">Wie muss ein Datenmodell/eine Programmstruktur gestaltet sein damit es zukunftssicher ist?</li>
		<li class="marked">Wie begeistere ich den Nutzer/Kunden?</li>
	</ul>
</div>

<div>
	<p>Unter Anderem diese Fragen sind es die mich bei der Entwicklung einer Webseite oder allgemein eines Programmes interessieren und antreiben. Es begeistert mich mit Skriptsprachen, Abstrakten Programmiersprachen oder Beschreibungssprachen etwas zu erschaffen, dass dem Nutzer am Computer das Leben zumindest ein wenig erleichtert oder gar hilft eine Aufgabe schneller zu erledigen. Gerade in der heutigen Zeit spielt sich das Leben mehr und mehr im Internet ab. Darum ist es wichtig, dass dieser Wandel genutzt wird und mit einem Entgegegenkommen den Kunden oder den potentiell neuen Kunden willkommen zu hei&szlig;en.</p>
	<p>Neben den offensichtlichen Designmerkmalen einer Webpr&auml;sentation ist es auch wichtig wartungsarme, sichere und zukunftssichere Programmstrukturen zu entwickeln. Die W&uuml;nsche des Kunden - der nun einmal K&ouml;nig ist - k&ouml;nnen sich im Laufe der Zeit immer wieder &auml;ndern. Dies kann im Kleinen wie im Grossen geschehen. Darum ist es wichtig m&ouml;glichst schon im Grundentwurf und in der ersten Umsetzung dies m&ouml;glichst zu bedenken.</p>
</div>