<h1 id="mainHeader">Werdegang</h1>
	  
<div>
	<h2>Studium:</h2>
	<ul>
		<li>Bachelorstudiengang Praktische Informatik
		an der Fachhochschule Dortmund <span class="yearnumber">01.09.2008 - 01.09.2013</span><br />
		<span class="marked">Abschluss: Bachelor of Science - Informatik Anwendungsentwicklung</span></li>
	</ul>
</div>
  
<div>
	<h2>Direkt relevante T&auml;tigkeiten:</h2>
	<ul>
		<li><span class="marked">Praktikant:</span><br /> in der EDV-Werkstatt der Stadtverwaltung M&uuml;lheim an der Ruhr</li>
		<li><span class="marked">Praktikant:</span><span class="yearnumber">15.05.2006 - 07.07.2006</span><br />
		bei KNE - Kraft Netzwerk Engineering in M&uuml;lheim an der Ruhr</li>
		<li><span class="marked">Werkstudent:</span><span class="yearnumber">01.04.2013 - 01.09.2013</span><br />
		bei der NEOMATT GmbH in Essen</li>
		<li><span class="marked">Softwareentwickler:</span><span class="yearnumber">01.01.2014 - 15.05.2014</span><br />
		bei der InteractiveM OHG in K&ouml;ln</li>
		<li><span class="marked">Praktikant:</span><span class="yearnumber">02.06.2014 - 31.08.2014</span><br />
		bei der Deutschen Immobilienkasse in D&uuml;sseldorf</li>
		<li><span class="marked">Softwareentwickler:</span><span class="yearnumber">01.09.2014 - 14.02.2015</span><br />
		bei der Mensemedia - Gesellschaft f&uuml;r neue Medien in D&uuml;sseldorf</li>
</div>
