* {
	margin: 0px;
	padding: 0px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
	background-image: url("../media/tile.png");
	background-color: #eee;
	margin: 0 0 30px; /* bottom = footer height */
	padding: 0px;
	text-align: center;	
	font-family: Arial, serif;
	font-size: 16px;
}

div {
	padding: 10px;
}

p {
	line-height: 1.4em;
	margin-top: 5px;
	margin-bottom: 10px;
	text-indent: 20px;
}

p:first-child {
	text-indent: 0px;
}

p:first-child:first-letter {
	float: left;
	color: #00A;
	font-size: 2.8em;
	padding: 10px 5px 0px 0px;
}


main {
	margin-bottom: 65px;
}

/*---HEADER---*/
header {	
	font-weight: bold;
	margin: 5px 40px;
}

#navigation a, footer a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	margin: 10px;
}

#navigation {
	text-align: left;
	margin-bottom: 20px;
}
/*---HEADER---*/

/*---MAIN---*/
#container {
	box-shadow: 2px 2px 5px #000;
	width: 50%;
	margin: 0 auto;
	text-align: left;
	background-color: #ddd;
}

#container div, #container li {
	margin: 30px 0px;
}

#container div li {
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 20px;
}

#mainHeader {
	text-align: center;
}
/*---MAIN---*/

/*---FOOTER---*/
footer {	
	position: absolute;
    right: 0;
    bottom: 0;
}

footer div {
	float: right;
	margin: 10px;
}
/*---FOOTER---*/

/*---Hilfsklassen---*/
.sourceOfInformation {
	font-style: italic;
}

.yearnumber {
	font-weight: bold;
	float: right;
}

.marked {
	font-weight: bold;
}
/*---Hilfsklassen---*/
		